.container {
  position: relative;
  overflow: auto;
}
/* .file-add-icon{
  padding:0.3em;
  height:1.3em;
  width: 1.2em;
} */
/* List of Modals */
.popover {
  position: fixed;
  bottom: 0;
  right: 0;
}

.popover-content {
  width: 20em;
  display: none;
  position: absolute;
  bottom: 3.5em;
  right: 2em;
  z-index: 1;
  margin-right: 20px;
}

.popover-container .popover-content {
  display: block;
}
.button-container {
  padding-right: 5px;
  /* padding-bottom: 5px; */
}

.ion-col-item {
  padding: 0;
  margin: 0;
}
.ion-list-modal {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 22em;
}
.scrollable-list {
  height: 34em;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 22em;
}

.close-button.md {
  --background: 0;
  --box-shadow: 0;
  position: relative;
  left: 24em;
}
.close-button.ios {
  --background: 0;
  --box-shadow: 0;
  position: relative;
  left: 22em;
}
.close-item {
  --inner-padding-end: none;
}
.close-icon {
  width: 1.3em;
  height: 1.3em;
}
.pop-grid {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Modals Button v1*/

/* .separator {
  width: 1px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  margin: 0 8px;
}

.chevron-button {
  --border-radius: 20px;
  --ion-color-primary: #066de3;
  height: 3em;
  
}
.button-without-shadow {
  --box-shadow: none;
  --padding-end: 0.5em;
  --padding-start: 0.5em;
  
}

.icon-file-add {
  height: 2em;
  width: 1.4em;
  padding-right: 0.3em; 
} */
/* Modals Button v2*/
.ion-card-modal {
  display: flex;
  justify-content: center;
  --background: #066de3;
  --color: #9efff0;
  border-radius: 50px;
  height: 3em;
  width: 20em;
  transition: 0.2s;
  margin-bottom: 10px;
  margin-right: 1em;
}

.ion-card-buttons {
  display: flex;
  align-items: center;
}

.separator {
  width: 1px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  margin: 0 8px;
  position: relative;
  right: 0;
}

.button-without-shadow {
  --box-shadow: none;
  --background: none;
  --padding-end: 0.5em;
  --padding-start: 0.5em;
}
.icon-file-add {
  height: 2em;
  width: 1.4em;
  padding-right: 0.3em;
}
.small-card {
  width: 12em;
}
.select-modal {
  --padding-top: none;
  --padding-bottom: none;
}

/* Avatar  */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  background: #066de3;
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.left-buttons {
  padding-top: 3px;
}
.avatar-name {
  font-size: 0.8em;
}
/* side Menu */
.menu-content {
  --padding-start: none;
  --padding-end: none;
  --padding-top: none;
  --padding-bottom: none;
}
/* hide search bar && change Modal button  */
.search-toolbar {
  transition: opacity 0.1s ease-in-out;
}
.search-toolbar.show {
  opacity: 1;
}

.search-toolbar.hide {
  opacity: 0;
}
.form-header {
}
.form-header.show {
  height: 7em;
}
.form-header.hide {
  height: 3.5em;
}
.form-header.ios.hide {
  height: 2.8em;
}

.list-forms {
  padding-top: 0;
  padding-bottom: 4em;
}

.form-bt {
  --box-shadow: none;
  --background: none;
  --color: grey;
  --padding-end: 0.5em;
  --padding-start: 0.5em;
}
.note-padding.md {
  padding-top: 20px;
  font-size: 15px;
}
.circle {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background-color: #066de3;
  color: #ffffff;
  cursor: pointer;
  margin-right: 1em;
}
.circle:hover {
  background-color: #0056b3;
}

.qr-code-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 55%;
}

/* QRCode */

ion-modal#qrcode-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#qrcode-modal h1 {
  margin: 20px 20px 10px 125px;
  
}

