.ion-card-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  --background: #066de3;
  --color: #9efff0;
  border-radius: 50px;
  height: 3em;
  width: 20em;
}

.ion-card-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ion-card-buttons {
  display: flex;
  align-items: center;
}

.separator {
  width: 1px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  margin: 0 8px;
}

.button-without-shadow {
  --box-shadow: none;
  --background: none;
  --padding-end: 0.5em;
  --padding-start: 0.5em;
}
.small-card {
  width: 12em; /* Ajustez la taille selon vos besoins */
  height: 3em; /* Ajustez la taille selon vos besoins */
}
/* .popover {
  position: absolute;
  bottom: 0;
  right: 0;
}

.popover-content {
  width: 20em;
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  border-radius: 4px;
  padding: 10px;
  
  z-index: 1;
  margin-right: 10px;
}

.popover-container:hover .popover-content {
  display: block;
}
.button-container{
  padding-right: 10px;
  padding-bottom: 5px;
}

.popover{
  flex-direction: row;
}
.ion-col-item {
  padding: 0;
  margin: 0;
}
 */

/* .search-bar-test {
  display: flex;
  align-items: center;
  border: 1px solid #d8dce0;
  height: 38px;
  font-size: 15px;
  margin: 8px;
  border-radius: 10px;
  background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);;
  padding: 8px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  --highlight-color-focused: none;
}
.button-icon {
  margin: 0;
  --padding-end: 0;
  --padding-start: 0;
  font-size: 0.9rem;
}

.search-icon {
  margin: 8px;
  padding-right: 4px;
  font-size: 1.5rem;
  font-weight: 200;
}
.ion-icon {
  padding-right: 0.9em;
} */

/* 
.button-text {
  margin-right: 10px;
 
}

.separator {
  width: 1px;
  height: 43px;
  background-color: rgb(255, 255, 255);
  margin: 0 8px;
  margin-right: 1em;
}

.chevron-button {
  --border-radius: 40px;
  --background-color:#066de3;
  height: 3.8em;
}
.icon-file-add{
  padding-right: 0.4em;
  height:2em;
  width:1.5em;
  
} */
