.container {
  position: relative;
}
.toolbar-title {
  font-size: 24px;
}
.ion-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  
}

.ion-card {
  width: 140px;
  margin: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 375px) {
  .ion-card {
    width: 170px;
  }
}
@media screen and (min-width: 412px) {
  .ion-card {
    width: 190px;
  }
}
@media screen and (min-width: 700px) {
  .ion-card {
    width: 210px;
  }
}
@media screen and (min-width: 900px) {
  .ion-card {
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .ion-card {
    width: 300px;
  }
}

/* List of Modals */
.popover {
  position: fixed;
  bottom: 0;
  right: 0;
}

.popover-content {
  width: 20em;
  display: none;
  position: absolute;
  bottom: 3.5em;
  right: 2em;
  z-index: 1;
  margin-right: 13px;
}

.popover-container .popover-content {
  display: block;
}
.button-container {
  padding-right: 10px;
  padding-bottom: 5px;
}

.ion-col-item {
  padding: 0;
  margin: 0;
}
.ion-list-modal {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 22em;
}
.scrollable-list {
  height: 34em;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 22em;
}

.close-button {
  --background: 0;
  --box-shadow: 0;
  position: relative;
  left: 23.8em;
}


